$white: #fff;
$black: #000;
$gray: #505050;
$light-blue: #6eeee4;
$dark-white: #f9fbfb;
$dark-blue: #021623;
$aqua: #6ff6eb;

$merriweather: "Merriweather", serif;
$raleway: "Raleway", sans-serif;
$montserrat: "Montserrat", sans-serif;

$notebook: (max-width: 1224px);
$tablet: (max-width: 991px);
$mobile: (max-width: 767px);
$mobile-small: (max-width: 565px);