<footer class="footer">
    <h4 class="footer__title">
        FOLLOW US
    </h4>
    <div class="footer__social">
        <a class="footer__link" href="#" target="_blank">
            <i class="fab fa-pinterest-p"></i>
        </a>
        <a class="footer__link" href="#" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="footer__link" href="#" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="footer__link" href="#" target="_blank">
            <i class="fab fa-dribbble"></i>
        </a>
    </div>
</footer>
