<!-- Modals -->
<div class="modal" id="modal__work-1">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="assets/images/close.svg" alt="Close">
        </button>

        <img class="modal__image" src="assets/images/works/work-1.jpg" alt="">
    </div> <!-- /.modal__dialog -->
</div> <!-- /.modal -->

<div class="modal" id="modal__work-2">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="assets/images/close.svg" alt="Close">
        </button>

        <img class="modal__image" src="assets/images/works/work-2.jpg" alt="">
    </div> <!-- /.modal__dialog -->
</div> <!-- /.modal -->

<div class="modal" id="modal__work-3">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="assets/images/close.svg" alt="Close">
        </button>

        <img class="modal__image" src="assets/images/works/work-3.jpg" alt="">
    </div> <!-- /.modal__dialog -->
</div> <!-- /.modal -->

<div class="modal" id="modal__work-4">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="assets/images/close.svg" alt="Close">
        </button>

        <img class="modal__image" src="assets/images/works/work-4.jpg" alt="">
    </div> <!-- /.modal__dialog -->
</div> <!-- /.modal -->

<div class="modal" id="modal__work-5">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="assets/images/close.svg" alt="Close">
        </button>

        <img class="modal__image" src="assets/images/works/work-5.jpg" alt="">
    </div> <!-- /.modal__dialog -->
</div> <!-- /.modal -->

<div class="modal" id="modal__work-6">
    <div class="modal__dialog">

        <button class="modal__close" type="button" data-close>
            <img src="assets/images/close.svg" alt="Close">
        </button>

        <img class="modal__image" src="assets/images/works/work-6.jpg" alt="">
    </div> <!-- /.modal__dialog -->
</div> <!-- /.modal -->